<h1>All the Burgz!</h1>

<h2>Burgz waiting to be devoured!</h2>

<ul>
    {{#each burgers }}
        {{#unless isDevoured }}
            <li>
                {{ name }}
                <button class="change-devoured" data-id="{{ id }}">GET IN MY BELLY</button>
            </li>
        {{/unless}}
    {{/each}}
</ul>

<h2>Devoured burgz!</h2>

<ul>
    {{#each burgers }}
        {{#if isDevoured }}
            <li>{{ name }}</li>
        {{/if}}
    {{/each}}
</ul>

<form class="create-form">
    <div class="form-group">
        <textarea name="name" id="burgerarea" maxlength="30" placeholder="Enter a burger you want to eat!"></textarea>
    </div>
    <button type="submit">Submit</button>
</form>